<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_bbe637d9b3b8c1db8288ed54baaa6141 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>

            <style>html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            </style>

            <style>#map {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                }
            </style>

            <script>
                L_NO_TOUCH = false;
                L_DISABLE_3D = false;
            </script>

        
</head>
<body>
    
    
            <div class="folium-map" id="map_bbe637d9b3b8c1db8288ed54baaa6141" ></div>
        
</body>
<script>
    
    
            var map_bbe637d9b3b8c1db8288ed54baaa6141 = L.map(
                "map_bbe637d9b3b8c1db8288ed54baaa6141",
                {
                    center: [20.5937, 78.9629],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 5,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_7be273d03f5d7d58b5652c615dfac36e = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_7be273d03f5d7d58b5652c615dfac36e.addTo(map_bbe637d9b3b8c1db8288ed54baaa6141);
        
    
            var marker_1f9588da7e7868b4577b90694e5d7425 = L.marker(
                [25.710589, 78.470252],
                {
}
            ).addTo(map_bbe637d9b3b8c1db8288ed54baaa6141);
        
    
            var icon_521cbdcabcf56d300e5e18f7da28814a = L.AwesomeMarkers.icon(
                {
  "markerColor": "red",
  "iconColor": "white",
  "icon": "star",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_ae92982ad501336d952b34b33e3e5017 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_74483f788c479793fe4e02fbd198bf7c = $(`<div id="html_74483f788c479793fe4e02fbd198bf7c" style="width: 100.0%; height: 100.0%;">                         <div style="width: 200px">                             <h4 style="margin-bottom: 5px; color: red">रिछरा</h4>                             <b>Families:</b> 155<br>                             <b>Type:</b> Origin                                                      </div>                         </div>`)[0];
                popup_ae92982ad501336d952b34b33e3e5017.setContent(html_74483f788c479793fe4e02fbd198bf7c);
            
        

        marker_1f9588da7e7868b4577b90694e5d7425.bindPopup(popup_ae92982ad501336d952b34b33e3e5017)
        ;

        
    
    
            marker_1f9588da7e7868b4577b90694e5d7425.bindTooltip(
                `<div>
                     रिछरा (155)
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_1f9588da7e7868b4577b90694e5d7425.setIcon(icon_521cbdcabcf56d300e5e18f7da28814a);
            
    
            var marker_28fec97ec94ba05721d162e91f9ed41d = L.marker(
                [25.6217472, 78.6836172],
                {
}
            ).addTo(map_bbe637d9b3b8c1db8288ed54baaa6141);
        
    
            var icon_a3e78c9aa7df650c86150657aa4ed745 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "map-marker",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_1bdf7a360e0cb39825cae674b4d44d57 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_52a0513fba430c83213f096dab23e9ed = $(`<div id="html_52a0513fba430c83213f096dab23e9ed" style="width: 100.0%; height: 100.0%;">                         <div style="width: 200px">                             <h4 style="margin-bottom: 5px; color: blue">देवरा</h4>                             <b>Families:</b> 84<br>                             <b>Type:</b> Destination                                                      </div>                         </div>`)[0];
                popup_1bdf7a360e0cb39825cae674b4d44d57.setContent(html_52a0513fba430c83213f096dab23e9ed);
            
        

        marker_28fec97ec94ba05721d162e91f9ed41d.bindPopup(popup_1bdf7a360e0cb39825cae674b4d44d57)
        ;

        
    
    
            marker_28fec97ec94ba05721d162e91f9ed41d.bindTooltip(
                `<div>
                     देवरा (84)
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_28fec97ec94ba05721d162e91f9ed41d.setIcon(icon_a3e78c9aa7df650c86150657aa4ed745);
            
    
            var marker_c1f732fd5c51579d17b5c92c54124989 = L.marker(
                [25.717721, 78.453434],
                {
}
            ).addTo(map_bbe637d9b3b8c1db8288ed54baaa6141);
        
    
            var icon_29201d74b2dfe9ea4e9cbef6611e47b2 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "map-marker",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_d51bea0e6f58d366d37d4ef288943e60 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_33a9e1952fc5aaaa86c8466646e5fb7d = $(`<div id="html_33a9e1952fc5aaaa86c8466646e5fb7d" style="width: 100.0%; height: 100.0%;">                         <div style="width: 200px">                             <h4 style="margin-bottom: 5px; color: blue">सिरौल</h4>                             <b>Families:</b> 4<br>                             <b>Type:</b> Destination                                                      </div>                         </div>`)[0];
                popup_d51bea0e6f58d366d37d4ef288943e60.setContent(html_33a9e1952fc5aaaa86c8466646e5fb7d);
            
        

        marker_c1f732fd5c51579d17b5c92c54124989.bindPopup(popup_d51bea0e6f58d366d37d4ef288943e60)
        ;

        
    
    
            marker_c1f732fd5c51579d17b5c92c54124989.bindTooltip(
                `<div>
                     सिरौल (4)
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_c1f732fd5c51579d17b5c92c54124989.setIcon(icon_29201d74b2dfe9ea4e9cbef6611e47b2);
            
    
            var marker_0fbc5e0432c4808948fd0f61981a6d71 = L.marker(
                [25.6576993, 78.457802],
                {
}
            ).addTo(map_bbe637d9b3b8c1db8288ed54baaa6141);
        
    
            var icon_e951600e8adb0fba186832cf28896739 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "map-marker",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_fc006a5b43ec047b39110d3030fad7cb = L.popup({
  "maxWidth": 300,
});

        
            
                var html_6e8c7a5fc1e1f2bc7d7aa6b3c4b2cb0e = $(`<div id="html_6e8c7a5fc1e1f2bc7d7aa6b3c4b2cb0e" style="width: 100.0%; height: 100.0%;">                         <div style="width: 200px">                             <h4 style="margin-bottom: 5px; color: blue">अंबाबाय</h4>                             <b>Families:</b> 1<br>                             <b>Type:</b> Destination                                                      </div>                         </div>`)[0];
                popup_fc006a5b43ec047b39110d3030fad7cb.setContent(html_6e8c7a5fc1e1f2bc7d7aa6b3c4b2cb0e);
            
        

        marker_0fbc5e0432c4808948fd0f61981a6d71.bindPopup(popup_fc006a5b43ec047b39110d3030fad7cb)
        ;

        
    
    
            marker_0fbc5e0432c4808948fd0f61981a6d71.bindTooltip(
                `<div>
                     अंबाबाय (1)
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_0fbc5e0432c4808948fd0f61981a6d71.setIcon(icon_e951600e8adb0fba186832cf28896739);
            
    
            var marker_ee737a3571faacf039db82bc3b4f8945 = L.marker(
                [25.665124210777, 78.457507240198],
                {
}
            ).addTo(map_bbe637d9b3b8c1db8288ed54baaa6141);
        
    
            var icon_7051c9742c1a1934f1d87b2c9ad6564f = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "map-marker",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_d0526d9e6253fef7f2656d8ed8e5220f = L.popup({
  "maxWidth": 300,
});

        
            
                var html_2dc600754e3b15c3ee192882e3f6cf33 = $(`<div id="html_2dc600754e3b15c3ee192882e3f6cf33" style="width: 100.0%; height: 100.0%;">                         <div style="width: 200px">                             <h4 style="margin-bottom: 5px; color: blue">झांसी</h4>                             <b>Families:</b> 1<br>                             <b>Type:</b> Destination                                                      </div>                         </div>`)[0];
                popup_d0526d9e6253fef7f2656d8ed8e5220f.setContent(html_2dc600754e3b15c3ee192882e3f6cf33);
            
        

        marker_ee737a3571faacf039db82bc3b4f8945.bindPopup(popup_d0526d9e6253fef7f2656d8ed8e5220f)
        ;

        
    
    
            marker_ee737a3571faacf039db82bc3b4f8945.bindTooltip(
                `<div>
                     झांसी (1)
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_ee737a3571faacf039db82bc3b4f8945.setIcon(icon_7051c9742c1a1934f1d87b2c9ad6564f);
            
    
            var marker_a9e33e1d1c514c136cd85ec74199dee9 = L.marker(
                [25.761711, 78.702541],
                {
}
            ).addTo(map_bbe637d9b3b8c1db8288ed54baaa6141);
        
    
            var icon_c44ed11c6310df9a95c86cd6a0fd06d1 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "map-marker",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_8ecf38230ed7249e92eb6068ac6c4038 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_2ba066a26b031a29e178cc3912a6f6dc = $(`<div id="html_2ba066a26b031a29e178cc3912a6f6dc" style="width: 100.0%; height: 100.0%;">                         <div style="width: 200px">                             <h4 style="margin-bottom: 5px; color: blue">बराने</h4>                             <b>Families:</b> 1<br>                             <b>Type:</b> Destination                                                      </div>                         </div>`)[0];
                popup_8ecf38230ed7249e92eb6068ac6c4038.setContent(html_2ba066a26b031a29e178cc3912a6f6dc);
            
        

        marker_a9e33e1d1c514c136cd85ec74199dee9.bindPopup(popup_8ecf38230ed7249e92eb6068ac6c4038)
        ;

        
    
    
            marker_a9e33e1d1c514c136cd85ec74199dee9.bindTooltip(
                `<div>
                     बराने (1)
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_a9e33e1d1c514c136cd85ec74199dee9.setIcon(icon_c44ed11c6310df9a95c86cd6a0fd06d1);
            
    
            var marker_5faf4feea58d8a104c6ed0997818b3ff = L.marker(
                [25.666702, 78.58613],
                {
}
            ).addTo(map_bbe637d9b3b8c1db8288ed54baaa6141);
        
    
            var icon_e43a8a7dcbb3a4bd52f46dc00110259c = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "map-marker",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_4a2e8e6401aa6e553bd57048549b4600 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_1347839f62704e9a6f373b73015e0e2f = $(`<div id="html_1347839f62704e9a6f373b73015e0e2f" style="width: 100.0%; height: 100.0%;">                         <div style="width: 200px">                             <h4 style="margin-bottom: 5px; color: blue">मोहनपुर</h4>                             <b>Families:</b> 1<br>                             <b>Type:</b> Destination                                                      </div>                         </div>`)[0];
                popup_4a2e8e6401aa6e553bd57048549b4600.setContent(html_1347839f62704e9a6f373b73015e0e2f);
            
        

        marker_5faf4feea58d8a104c6ed0997818b3ff.bindPopup(popup_4a2e8e6401aa6e553bd57048549b4600)
        ;

        
    
    
            marker_5faf4feea58d8a104c6ed0997818b3ff.bindTooltip(
                `<div>
                     मोहनपुर (1)
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_5faf4feea58d8a104c6ed0997818b3ff.setIcon(icon_e43a8a7dcbb3a4bd52f46dc00110259c);
            
    
            var marker_89415cb379f45a2b9b131e07b4c4baba = L.marker(
                [25.1155153, 78.8414209],
                {
}
            ).addTo(map_bbe637d9b3b8c1db8288ed54baaa6141);
        
    
            var icon_3dae13bbeb919634f174ab2d89892af4 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "map-marker",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_0ede82f245fed313a981208e1f80a6f7 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_f9e918ccf13c1f83317e59ee8a9a5219 = $(`<div id="html_f9e918ccf13c1f83317e59ee8a9a5219" style="width: 100.0%; height: 100.0%;">                         <div style="width: 200px">                             <h4 style="margin-bottom: 5px; color: blue">मडिया</h4>                             <b>Families:</b> 1<br>                             <b>Type:</b> Destination                                                      </div>                         </div>`)[0];
                popup_0ede82f245fed313a981208e1f80a6f7.setContent(html_f9e918ccf13c1f83317e59ee8a9a5219);
            
        

        marker_89415cb379f45a2b9b131e07b4c4baba.bindPopup(popup_0ede82f245fed313a981208e1f80a6f7)
        ;

        
    
    
            marker_89415cb379f45a2b9b131e07b4c4baba.bindTooltip(
                `<div>
                     मडिया (1)
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_89415cb379f45a2b9b131e07b4c4baba.setIcon(icon_3dae13bbeb919634f174ab2d89892af4);
            
    
            var marker_d3685f0b86e3de7adfdd62d28dacaa3c = L.marker(
                [26.047968, 78.077111],
                {
}
            ).addTo(map_bbe637d9b3b8c1db8288ed54baaa6141);
        
    
            var icon_11551c7f39cf767999953b33e3f7dab1 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "map-marker",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_baeee2d304bd16e9cfc2fd2324c33601 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_b4568e4b4f318669a0aba67781d5b323 = $(`<div id="html_b4568e4b4f318669a0aba67781d5b323" style="width: 100.0%; height: 100.0%;">                         <div style="width: 200px">                             <h4 style="margin-bottom: 5px; color: blue">रिछरा</h4>                             <b>Families:</b> 1<br>                             <b>Type:</b> Destination                                                      </div>                         </div>`)[0];
                popup_baeee2d304bd16e9cfc2fd2324c33601.setContent(html_b4568e4b4f318669a0aba67781d5b323);
            
        

        marker_d3685f0b86e3de7adfdd62d28dacaa3c.bindPopup(popup_baeee2d304bd16e9cfc2fd2324c33601)
        ;

        
    
    
            marker_d3685f0b86e3de7adfdd62d28dacaa3c.bindTooltip(
                `<div>
                     रिछरा (1)
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_d3685f0b86e3de7adfdd62d28dacaa3c.setIcon(icon_11551c7f39cf767999953b33e3f7dab1);
            
    
            var marker_9c14cb9f6ad3c764971080bfceafd7ba = L.marker(
                [25.6576993, 78.457802],
                {
}
            ).addTo(map_bbe637d9b3b8c1db8288ed54baaa6141);
        
    
            var icon_448cee522216c9efd03b849dfbd92f29 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "map-marker",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_d3c2446b1607b4f3126c0da9c654164c = L.popup({
  "maxWidth": 300,
});

        
            
                var html_256b7c360411b4acc623f4094b78d03a = $(`<div id="html_256b7c360411b4acc623f4094b78d03a" style="width: 100.0%; height: 100.0%;">                         <div style="width: 200px">                             <h4 style="margin-bottom: 5px; color: blue">सैकुवा</h4>                             <b>Families:</b> 1<br>                             <b>Type:</b> Destination                                                      </div>                         </div>`)[0];
                popup_d3c2446b1607b4f3126c0da9c654164c.setContent(html_256b7c360411b4acc623f4094b78d03a);
            
        

        marker_9c14cb9f6ad3c764971080bfceafd7ba.bindPopup(popup_d3c2446b1607b4f3126c0da9c654164c)
        ;

        
    
    
            marker_9c14cb9f6ad3c764971080bfceafd7ba.bindTooltip(
                `<div>
                     सैकुवा (1)
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_9c14cb9f6ad3c764971080bfceafd7ba.setIcon(icon_448cee522216c9efd03b849dfbd92f29);
            
    
            map_bbe637d9b3b8c1db8288ed54baaa6141.fitBounds(
                [[25.710589, 78.470252], [25.6217472, 78.6836172], [25.717721, 78.453434], [25.6576993, 78.457802], [25.665124210777, 78.457507240198], [25.761711, 78.702541], [25.666702, 78.58613], [25.1155153, 78.8414209], [26.047968, 78.077111], [25.6576993, 78.457802]],
                {}
            );
        
</script>
</html>